<div class="about-us-section text-center py-2 mt-3">
  <h1 class="font-poppins">About Us</h1>
  <h4 class="font-noto-sans mt-3">
    We are a team of curious individuals working together to better understand
    the changes in our hydrosphere
  </h4>
</div>

<!-- Current Team Section -->
<section class="team-section bg-navy-blue py-5">
  <div class="container">
    <h2 class="section-title text-white text-center mb-4 font-poppins">Current Team</h2>
    <div class="row justify-content-center">
      @for (member of currentTeam; track member.name) {
        <div class="col-lg-5 col-md-6 col-12 text-white card-body m-2">
          <div class="d-flex align-items-center">
            <img [src]="member.imageSrc" [alt]="member.name" class="team-image me-3">
            <div>
              <h4 class="font-poppins mb-1">{{ member.name }}</h4>
              <h6 class="mb-0">{{ member.designation }}</h6>
            </div>
          </div>
          <p class="mt-3 card-text" [innerHTML]="member.bio"></p>
          <h6 *ngIf="member.email" >Email: <a [href]="'mailto:' + member.email">{{ member.email }}</a></h6>
        </div>
      }
    </div>
  </div>
</section>

<!-- Alumni Section -->
<section class="team-section bg-gray py-5">
  <div class="container">
    <h2 class="section-title text-light text-center mb-4 font-poppins">Alumni</h2>
    <div class="row justify-content-center">
      @for (member of alumni; track member.name) {
        <div class="col-lg-5 col-md-6 col-12 card-body text-light m-2">
          <div class="d-flex align-items-center">
            <img [src]="member.imageSrc" [alt]="member.name" class="team-image me-3">
            <div>
              <h4 class="font-poppins mb-1">{{ member.name }}</h4>
              <h6 class="mb-0">{{ member.designation }}</h6>
            </div>
          </div>
          <p class="mt-3 card-text">{{ member.bio }}</p>
        </div>
      }
    </div>
  </div>
</section>

